# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.vila/
.v/
.env/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# Mac / Windows
.DS_Store
Thumbs.db

# Logs
*.log

# Render
.render

# Python build
build/
dist/
*.egg-info/